{{ define "main" }}
<div class="content-grid wrap">
  <section class="article-list">
    {{ range .Paginator.Pages }}
      <article class="post-card">
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ partial "article-meta.html" . }}
        <p>{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 260 }}{{ end }}</p>
        {{ partial "tags.html" . }}
        {{ partial "categories.html" . }}
      </article>
    {{ end }}
  </section>
  {{ partial "sidebar.html" . }}
</div>
{{ end }}
